* {
    margin: 0;
    padding: 0;
}
body {
    background-color: aliceblue;
}
#cabecalho {
    width: 100%;
    background-color: rgb(15, 13, 13);
    height: 170px;
    text-align: center;
}
#cabecalho h1,p {
    color: white;
    padding-top: 30px;
    font-size: 1.8em;
}
#jogo, #resultado, #dinamica {
    width: 1000px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}
#jogo {
    background-color: rgb(117, 216, 213);
}
#options {
    display: flex;
    margin-top: 50px;
}
#options div {
    
    
    margin: auto;
}
button {
    border: 1px solid black;
    width: 200px;
    height: 100px;
    border-radius: 15px;
    font-size: 2em;
}
button:hover {
    background: skyblue;;
    cursor: pointer;
}
#resultado {
    background: #fc86bf; 
    margin-bottom: 30px;
}
#resultado h1 {
    margin: 10px 0;
}
#player,#pc {
    border: 1px solid black;
    background-color: white;
    border-radius: 15px;
    margin-left: 90px;
    width: 300px;
    height: 150px;
}
#player {
    
    float: left;

}
#pc {
    float: right;
    margin-right: 80px;
}
#clear {
    clear: both;
}
#player_score_update,#pc_score_update {
    margin-top: 25px;
    font-size: 3em;
}
.imagem {
    text-align: center; 
    padding-top: 15px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: bisque;
    width: 300px;
    height: 50px;
    margin: 0 auto;
}